.background_color_about {
  min-width: 67rem;
  padding-bottom: 10rem;
  background-color: rgb(252, 251, 247);
  /* width: 100%; */
}

.about-wrapper {
  min-width: 75rem;
}

.nav__first-triangle-about {
  rotate: -90deg;
  border-top: 5.575vmin solid transparent;
  border-bottom: 2vmin solid transparent;
  border-left: 2vmin solid rgb(20, 7, 66);
  opacity: 0.5;
  z-index: 2;
}

.nav__second-triangle-about {
  rotate: -90deg;
  border-top: 5.575vmin solid transparent;
  border-bottom: 2vmin solid transparent;
  border-left: 2vmin solid rgb(20, 7, 66);
  opacity: 0.4;
  z-index: 1;
}
