.stack_and_image__stack {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  max-width: 40rem;
  margin-top: 5rem;
  margin-right: 5rem;
}

.stack_and_image__stack--heading {
  font-family: "Bitter", serif;
  font-size: 4rem;
  font-style: normal;
  line-height: 1.125;
  color: rgb(47, 11, 91);
  min-width: 30rem;
  margin-bottom: 1rem;
}

.stack_and_image__stack--paragraph {
  font-family: "Bitter", serif;
  font-size: 1.5rem;
  font-style: normal;
  line-height: 1.125;
  color: rgb(47, 11, 91);
  min-width: 30rem;
}

.stack_and_image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.break {
  margin: 1rem;
}

.stack_and_image__img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  min-width: 20rem;
  margin-top: 5rem;
}

.stack_and_image__img-background {
  z-index: 0;
  position: absolute;

  opacity: 0.5;
  clip-path: circle(200px at center);
}

.stack_and_image__img--styling {
  z-index: 1;
}

.background_color_work {
  padding-bottom: 10rem;
  background-color: rgb(243, 253, 243);
  width: 100%;
}

.work-wrapper {
  min-width: 20rem;
}
