.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-styling {
  font-family: "Bitter", serif;
  font-size: 1.3rem;

  font-style: normal;
  line-height: 1.125;
}

a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  color: #d97503fb;
}

.header-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30rem;
}
