.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30dvh;
}
.main__side {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30dvh;
  width: 50%;
}

.main__side-text {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
