.main__projects {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__projects__header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30dvh;
}
