@import "src/variables/globals.scss";

.main__projects {
  display: flex;
  justify-content: start;
  align-items: start;
}
.main__about_page {
  display: flex;
  justify-content: center;
  align-items: start;
  height: auto;
  width: 100vw;
}
.main__projects__header-text--styling-header {
  font-family: "Bitter", serif;
  font-size: 4rem;
  font-style: normal;
  line-height: 1.125;

  min-width: 30rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.main__about__header {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100dvh;
  margin-top: 10rem;
}

/* ---------Projects header----------- */

.main__projects__header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30dvh;
}

.main__projects__header-text {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  max-width: 39rem;
}

.main__projects__header-text--styling-header {
  font-family: "Bitter", serif;
  font-size: 4rem;
  font-style: normal;
  line-height: 1.125;
  color: set-color(rgb(20, 7, 66));
  min-width: 30rem;
}
/* color: rgb(20, 7, 66); */
.main__projects__header-text--styling-paragraph {
  font-family: "Bitter", serif;
  font-size: 1.5rem;
  font-style: normal;
  line-height: 1.125;
  /* color: rgb(20, 7, 66); */
  min-width: 30rem;
}
