.header-nav {
  color: white;
  display: flex;
}
.header-nav-list {
  margin: 1rem;
  display: flex;
}
.header-nav-item {
  cursor: pointer;
  display: flex;
  margin: 1rem;
  list-style-type: none;
  color: black;
}
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}

.header-nav-list-lang {
  display: flex;
  flex-direction: column;
  text-wrap: nowrap;
}

.header-styling {
  font-family: "Bitter", serif;
  font-size: 1.3rem;

  font-style: normal;
  line-height: 1.125;
}
