.header-nav {
  color: white;
  display: flex;
}
.header-nav-list {
  margin: 1rem;
  display: flex;
}
.header-nav-item {
  display: flex;
  margin: 1rem;
  list-style-type: none;
  color: black;
}

.header-nav-list-lang {
  display: flex;
  flex-direction: column;
}
