.projects {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects__collection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 5rem;
  margin-right: 5rem;
}

.projects__collection-project {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 30dvh;
}

.projects__collection-project-pic {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 30dvh;
  margin: 2rem;
}

img {
  border-radius: 3%;
}

.projects__collection-project-text {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
  height: 30dvh;
  margin: 5rem;
}

.project-text--styling {
  font-family: "Bitter", serif;
  font-size: 1rem;

  font-style: normal;
  line-height: 1;
  color: rgb(20, 7, 66);
  min-width: 50%;
}

.project-titel--styling {
  font-family: "Bitter", serif;
  font-size: 3rem;
  font-style: normal;
  line-height: 1.125;
  color: rgb(20, 7, 66);
  min-width: 50%;
}
