#root {
  width: 100%;

  padding: 5rem;
  padding-left: 7rem;
  padding-right: 7rem;
}

@media screen and (max-width: 53rem) {
  #root {
    padding: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
